@import '../resources/fonts/sequel-sans/stylesheet.css';

.text-small {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.6);
}

.text-medium {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 43px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.text-big {
    font-family: 'sequel_sansbold_body';
    font-size: 153px;
    line-height: 181px;
    letter-spacing: -0.02em;
    background: linear-gradient(94.78deg, #FFFFFF 1.7%, rgba(255, 255, 255, 0.44) 100.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.title {
    margin-top: 110px;

    .title-name {
        margin-top: 37px;
        text-align: center;
    }

    .title-description {
        margin-top: 37px;
        line-height: 60px !important;
        text-align: center;
    }

    .title-shape-l {
        position: absolute;
        top: 300px !important;
        left: 300px !important;
        z-index: -1;
        animation: fadeIn 5s;
        -webkit-animation: fadeIn 5s;
        -moz-animation: fadeIn 5s;
        -o-animation: fadeIn 5s;
        -ms-animation: fadeIn 5s;
    }

    .title-shape-r {
        position: absolute;
        z-index: -1;
        right: 0px !important;
        top: 520px !important;
        animation: fadeIn 3s;
        -webkit-animation: fadeIn 3s;
        -moz-animation: fadeIn 3s;
        -o-animation: fadeIn 3s;
        -ms-animation: fadeIn 3s;
    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
      
      @-moz-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
      
      @-webkit-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
      
      @-o-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
      
      @-ms-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
}

.services-data-separator {
    margin-top: 397px;
}

.services-data {
    margin-top: 49px;

    .helix {
        position: absolute;
        left: 0;
        z-index: -1;
        width: 450px;
        height: 618px;
    }
}

.services-data-title {
    font-size: 90px !important;
    line-height: 107px !important;
}

.services-data-numerical {
    font-size: 117px !important;
    line-height: 139px !important;
}

.services-data-margin {
    margin-top: 130px;
}

.services-data-label {
    font-size: 30px !important;
    line-height: 39px !important;
}

.buttons-row {
    margin-top: 59px;
}

.interchain {
    margin-top: 419px;
    text-align: center;
    max-width: 739px;

    .interchain-title {
        margin-top: 46px;
        font-size: 90px;
        line-height: 107px;
    }

    .interchain-description {
        margin-top: 46px;
    }

    .thorus {
        position: absolute;
        top: 2200px !important;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: -1;
    }
}

.grid-features {
    margin-top: 186px;

    .grid-cell {
        max-width: 442px;

        .feature-img {
            height: 242px;
            width: 242px;
        }

        .cell-title {
            font-weight: 700 !important;
            font-size: 50px !important;
            line-height: 65px !important;
            letter-spacing: 0.01em !important;
            margin: 16px 0px;
        }

        .cell-description {
            font-size: 27px !important;
            line-height: 35px !important;
        }

        .btn-grid {
            margin-top: 101px;
        }
    }
}

.subscription {
    margin: 141px 0px;

    hr {
        border: 1px solid rgba(255, 255, 255, 0.1);
    }

    .subscription-title {
        font-weight: 700;
        font-size: 50px;
        line-height: 65px;
        text-align: right;
        letter-spacing: 0.01em;
    }

    .subscription-description {
        font-weight: 400;
        font-size: 27px;
        line-height: 35px;
        letter-spacing: 0.01em;
    }

    .subscription-grid {
        padding: 114px 0px;

        input {
            width: 480px;
            height: 92px;
            background-color: rgba(255, 255, 255, 0.08);
            font-size: 27px;
            line-height: 35px;
        }

        input::placeholder {
            font-size: 27px;
            line-height: 35px;
            letter-spacing: 0.01em;
            color: rgba(255, 255, 255, 0.21);
        }
    }
}

.subscription-icon {
    transform: rotate(45deg);
}

@mixin button {
    width: 281px;
    height: 86px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}

.button-primary {
    @include button;
    background:
        linear-gradient(95.46deg, #FFFFFF 0%, rgba(255, 255, 255, 0.51) 101.07%);
    color: #06070A;
}

.button-secondary {
    @include button;
    color: #fff;
}

.page-padding {
    padding: 0px 196px;
}

@media (max-width: 767px) {
    .page-padding {
        padding: 0px 20px;
    }

    .text-small {
        font-size: 18px;
        line-height: 30px;
    }

    .text-medium {
        font-size: 20px;
        line-height: 30px;
    }

    .text-big {
        font-size: 40px;
        line-height: 60px;
    }

    .title {
        margin-top: 150px;

        .title-name {
            margin-top: 37px;
            text-align: center;
        }

        .title-description {
            margin-top: 37px;
            font-size: 20px;
            line-height: 35px !important;
            text-align: center;
        }

        .title-shape-l {
            width: 80px;
            height: 80px;
            top: 300px !important;
            left: 10px !important;
        }

        .title-shape-r {
            width: auto;
            height: 200px;
            right: 0px !important;
            top: 500px !important;
        }
    }

    .services-data-separator {
        margin-top: 220px;
        font-size: 15px !important;
        line-height: 20px !important;
    }

    .services-data {
        margin-top: 20px;

        .helix {
            width: auto;
            height: 350px;
        }
    }

    .services-data-title {
        font-size: 30px !important;
        line-height: 50px !important;
        margin-bottom: 20px;
    }

    .services-data-numerical {
        font-size: 80px !important;
        line-height: 100px !important;
    }

    .services-data-margin {
        margin-top: 50px;
    }

    .services-data-label {
        font-size: 30px !important;
        line-height: 39px !important;
    }

    .button-primary,
    .button-secondary {
        height: 50;
        width: 100%;
    }

    .interchain {
        margin-top: 300px;
        text-align: center;
        max-width: 80vw;

        .interchain-title {
            margin-top: 46px;
            font-size: 50px;
            line-height: 70px;
        }

        .interchain-description {
            margin-top: 46px;
        }

        .thorus {
            top: 2100px !important;
            left: 0px !important;
        }
    }

    .grid-features {
        margin-top: 300px;

        .grid-cell {
            max-width: 442px;

            .feature-img {
                height: 200px;
                width: 200px;
                margin-left: auto;
                margin-right: auto;
            }

            .cell-title {
                font-weight: 700 !important;
                font-size: 50px !important;
                line-height: 65px !important;
                letter-spacing: 0.01em !important;
                margin: 16px 0px;
            }

            .cell-description {
                font-size: 27px !important;
                line-height: 35px !important;
            }

            .btn-grid {
                margin-top: 80px;
            }
        }
    }

    .subscription {
        margin: 141px 0px;

        hr {
            border: 1px solid rgba(255, 255, 255, 0.1);
        }

        .subscription-title {
            font-weight: 700;
            font-size: 29px;
            line-height: 45px;
            text-align: left;
            letter-spacing: 0.01em;
        }

        .subscription-description {
            font-weight: 400;
            font-size: 23px;
            line-height: 35px;
            letter-spacing: 0.01em;
        }

        .subscription-grid {
            padding: 114px 0px;

            input {
                margin-top: 30px;
                width: 100%;
                height: 92px;
                font-size: 23px;
                line-height: 35px;
            }

            input::placeholder {
                font-size: 23px;
                line-height: 35px;
            }
        }
    }
}